In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Kyphosis.csv')

In [3]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [4]:
data.shape

(81, 4)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [7]:
x = data.drop('Kyphosis',axis=1)
x

    Age  Number  Start
0    71       3      5
1   158       3     14
2   128       4      5
3     2       5      1
4     1       4     15
..  ...     ...    ...
76  157       3     13
77   26       7     13
78  120       2     13
79   42       7      6
80   36       4     13

[81 rows x 3 columns]

In [9]:
y = data['Kyphosis']
y

0      absent
1      absent
2     present
3      absent
4      absent
       ...
76    present
77     absent
78     absent
79    present
80     absent
Name: Kyphosis, Length: 81, dtype: object

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [11]:
x_train.shape

(56, 3)

# Decision Tree

In [12]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [16]:
pred=model.predict(x_test)
pred

array(['absent', 'absent', 'absent', 'absent', 'absent', 'present',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'present', 'absent', 'absent', 'absent', 'absent',
       'present', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent'], dtype=object)

In [15]:
y_test

64     absent
36     absent
59     absent
63     absent
72     absent
0      absent
71     absent
60    present
75     absent
74     absent
45    present
28     absent
5      absent
39    present
56     absent
32     absent
30     absent
16     absent
42     absent
54     absent
35     absent
47     absent
77     absent
49     absent
48    present
Name: Kyphosis, dtype: object

In [18]:
result = pd.DataFrame(data=[y_test,pred],index=['y_test','pred'])
result.T

     y_test     pred
64   absent      NaN
36   absent      NaN
59   absent      NaN
63   absent      NaN
72   absent      NaN
0    absent   absent
71   absent      NaN
60  present      NaN
75   absent      NaN
74   absent      NaN
45  present      NaN
28   absent      NaN
5    absent  present
39  present      NaN
56   absent      NaN
32   absent      NaN
30   absent      NaN
16   absent   absent
42   absent      NaN
54   absent      NaN
35   absent      NaN
47   absent      NaN
77   absent      NaN
49   absent      NaN
48  present      NaN

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.8

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[19,  2],
       [ 3,  1]], dtype=int64)